* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

canvas {
	display: block;
}

.timer {
	height: 350px;
	width: 350px;
	border-radius: 50%;
	border: 1px black solid;
	position: absolute;
	top: 15%;
	left: 38%;
}